<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kong.travel.mappers.googleMapMemoDAOMapper">
    <select id="getGoogleMapMemoData" resultType="com.kong.travel.dto.googleMapMemoDTO">
        select * from googleMapMemo
    </select>

    <insert id="insertGoogleMapMemoData" parameterType="com.kong.travel.dto.googleMapMemoDTO">
        INSERT INTO googleMapMemo(lat, lng, subject, content, reg_date)
        values(#{lat},#{lng}, #{subject}, #{content}, now())
    </insert>

<!--    <update id="updateTestData" parameterType="com.kong.travel.dto.googleMapMemoDTO">-->
<!--        update DB_TEST set name = #{name} where title = #{title}-->
<!--    </update>-->

<!--    <delete id="deleteTestData" parameterType="com.kong.travel.dto.googleMapMemoDTO">-->
<!--        delete from DB_TEST where title = #{title}-->
<!--    </delete>-->
</mapper>