<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kong.travel.mappers.googleMapMemoDAOMapper">
    <select id="getGoogleMapMemoData" resultType="com.kong.travel.dto.googleMapMemoDTO">
        select * from googleMapMemo
    </select>

    <insert id="insertGoogleMapMemoData" parameterType="com.kong.travel.dto.googleMapMemoDTO">
        INSERT INTO googleMapMemo(lat, lng, subject, content, filename, filecontenttype, reg_date)
        values(#{lat},#{lng}, #{subject}, #{content},#{fileName},#{fileContentType}, now())
    </insert>

<!--    <insert id="fileUpload" parameterType="com.kong.travel.dto.FileDTO">-->
<!--        INSERT INTO file(filename, filecontenttype, reg_date)-->
<!--        values(#{fileName},#{fileContentType}, now())-->
<!--    </insert>-->

    <update id="updateGoogleMapMemoData" parameterType="com.kong.travel.dto.googleMapMemoDTO">
        update googleMapMemo set subject = #{subject}, content = #{content} where id = #{id}
    </update>

    <delete id="deleteGoogleMapMemoData" parameterType="com.kong.travel.dto.googleMapMemoDTO">
        delete from googleMapMemo where id = #{id}
    </delete>
</mapper>